{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeeMa ~フリーマーケット~</title>
    <link rel="stylesheet" href="{% static 'product/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
</head>
<body>
    <header>
        <h1 class="app-title">
            <a href="/">DeeMa</a>
        </h1>
        <form action="" class="all-search" method="get">
            <input class="input-aria" type="text" name="search" placeholder="キーワードを入力">
            <button type="submit" name="submit" class="submit-aria">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <nav class="navigator">
            <ul class="navigator-items">
                <li class="nav-item"><a href="">カテゴリ</a></li>
                {% if user.is_active and user.is_authenticated %}
                    <li class="nav-item"><a href="">マイページ</a></li>
                    <li class="nav-item"><a href="">取引データ</a></li>
                    <li class="nav-item"><a href="{% url 'account:logout' %}">ログアウト</a></li>
                {% else %}
                    <li class="nav-item"><a href="">会員登録</a></li>
                    <li class="nav-item"><a href="">ログイン</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block contents %}
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>